@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100&family=Rubik:wght@300;400&family=Ubuntu+Mono&display=swap');
:root{
    --primaryColor: #1276a5;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --main-bg: #043044;

}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}