<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <h2>Responsive Image</h2>
        <div>
            <img src="https://picsum.photos/400/300" alt="random-image"class="responsive">
        </div>
        <h2>Cirle Image</h2>
        <div>
            <img src="https://picsum.photos/300/300" alt="random-img" class="img-circle">
        </div>
    </div>
</body>
</html>