<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text utilities</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<body>
    <div class="container">
       <div class="typography-container text-center">
           <h2>headings</h2>
           <h1>h1 heading</h1>
           <h2>h2 heading</h2>
           <h3>h3 heading</h3>
           <h4>h4 heading</h4>
           <h5>h5 heading</h5>
           <h6>h6 heading</h6>
           <h1 class="title-lg">Large title</h1>
           <h4 class="title-md">medium title</h4>
       </div>
       <div class="typography-container text-center">
           <h2>small text</h2>
           <small>hi i am small text</small>
           <p class="subtitle-md">subtitle with medium size</p>
           <p class="subtitle-lg">subtitle with large size</p>
           <p class="paragraph-md">paragraph-medium size:Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos
               repellendus ad vitae ullam. Enim explicabo, debitis expedita voluptates officia eaque sapiente rem eos!
               Aliquam dignissimos placeat in similique fugit?</p>
           <p class="paragraph-lg"> paragraph-large size:Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ab est modi voluptates
               mollitia placeat rerum, atque aliquid expedita voluptatum incidunt enim maxime similique deleniti? Nam
               commodi debitis maiores cum.</p>
           <span class="caption">Its a caption</span>
       </div>
       <div class="typography-container text-center">
           <h2>gray text</h2>
           <p class="text-gray">My text color is gray</p>
       </div>
       <div class="typography-container text-center">
           <h2>center text</h2>
           <span class="text-center text-box">this text aligned in middle</span>
       </div>
    </div>
</body>
</html>