.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: rgb(253, 246, 246);
  margin: 12px;
  box-sizing: border-box;
}

.primary-heading {
  color: var(--primary-logoColor);
}

.secondary-heading {
  color: var(--secondary-logoColor);
}
.btn-getStart{
  text-decoration: none;
}
.fa.fa-github.github-icon{
  font-size: 2.2rem;
}
.docnav-bar {
  z-index: 100;
  background-color: rgb(245, 204, 204);
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  place-items: center center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.docnav-leftEl,.docnav-rightEl {
  display: flex;
  place-items: center center;
  flex-wrap: wrap;
  cursor: pointer;
}
.nav-title{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}
#menu-bar,
#close-btn,
#open-sidemenu {
  display: none;
}

#open-sidemenu {
  top: 0;
  display: none;
}

#close-btn {
  cursor: pointer;
  float: right;
  font-size: 1rem;
}

/* //responsive sidebar */
@media screen and (max-width:700px) {
  #menu-bar {
    display: block;
    cursor: pointer;
  }
  .content-doc,#open-sidemenu{
    font-size: 1.04rem;
  }

  .doc-sidebar {
    display: none;
  }

  #open-sidemenu {
    z-index: 10;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 1.5rem;
    height:50%;
    overflow: auto;
  }

  #open-sidemenu a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 16px;
  }

  #open-sidemenu a.active {
    background-color: rgb(245, 204, 204);
    color: white;
  }

  #open-sidemenu a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

 .content-doc #main,
  .content-doc header {
    margin-left:-14rem;
  } 

 .content-doc {
    margin-left: -14rem;
  }
}

/* //resoponsive sidebar ends */

.docnav-rightEl a{
  text-decoration: none;
}
.docnav-rightEl a,.fa.fa-github.github-icon{
  color: var(--primary-logoColor);
}

.docheader {
  position: sticky;
  top: 0;
}

.get-start {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6rem 0;
}

.margin-sm {
  margin: 3rem 0;
}
.main-heading,.subTitle-getStart {
  text-align: center;
  padding: 0 2rem;
}

.get-start:nth-child(1) {
  display: flex;
  color: rgb(76, 125, 202);
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center center;
  letter-spacing: 2px;
}

.subTitle-getStart {
  line-height: 1.8rem;
  width:70%;
}
.btn-getStart {
  border: none;
  padding: 8px;
  background-color: transparent;
}
.btn-getStart a{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-logoColor);
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  background: pink;
}


/* // makeing iframe Responsive */

.iframe-wrapper{
  width: 80%;
  margin: 1.5rem 0.3rem;
}
.iframe-md{
  height:20vh;
}
.iframe-sm {
  overflow-y: hidden; 
  height:10vh
}
.iframe-img{
  height:5vh;
}

.iframe-lg {
  height: 60vh;
}

.grid-triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#clip-btn{
  background: rgb(245, 204, 204);
  padding: 0.6rem 2rem;
  font-size: 1rem;
}
#clip-input[type=text] {
  padding: 12px 20px;
  width: 25rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
}

/* //responsive-doc */

.doc-sidebar {
  width: 14rem;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
}

.doc-sidebar h4{
  padding:1.5rem 1rem;
}

.doc-sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.doc-sidebar a.active {
  background-color: rgb(245, 204, 204);
  color: white;
}

.doc-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content-doc #main,
.content-doc header {
  margin-left: 14rem;
} 

.content-doc #main{
  line-height: 2rem;
}

