.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color:var(--primaryColor);
  margin: 12px;
  box-sizing: border-box;
}

.primary-heading {
  color: var(--primaryColor);
}
.padding-top{
  padding: 1.8rem 0;
}
.secondary-heading {
  color: var(--primaryColor);
}
.btn-getStart{
  text-decoration: none;
}
.fa.fa-github.github-icon{
  font-size: 2.2rem;
}
.docnav-bar {
  background-color: var(--main-bg);
  border-bottom: 2px solid var(--mainBlack);
  display: flex;
  flex-wrap: wrap;
  place-items: center center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.docnav-leftEl,.docnav-rightEl {
  display: flex;
  place-items: center center;
  flex-wrap: wrap;
  cursor: pointer;
}
.docnav-rightEl{
  gap:4rem;
}
.nav-title{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
  color: var(--mainWhite);
}
.border-md{
  border-radius:12px;
  border: 3px solid var(--primaryColor);
  margin: 1rem 2rem;
}
.border-top-sm{
  border-top: 2px solid var(--main-bg);
  padding: 0.4rem;
}
.div-iframe{
  overflow-x:scroll;
}
#codeiframe{
  max-width: 120%;
  height: auto;
}
#menu-bar,
#close-btn,
#open-sidemenu {
  display: none;
}

#open-sidemenu {
  top: 0;
  display: none;
}

#close-btn {
  cursor: pointer;
  float: right;
  font-size: 1rem;
}
.home-h1{
  color: var(--primaryColor);
}
/* .doc-section p{
  width: 70ch;
} */
.footer-center{
  margin: 1rem;
  text-align: center;
}

/* //responsive sidebar */
@media screen and (max-width:700px) {
  #menu-bar {
    display: block;
    cursor: pointer;
  }
  .content-doc,#open-sidemenu{
    font-size: 1.04rem;
  }

  .doc-sidebar {
    display: none;
  }

  #open-sidemenu {
    z-index: 10;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 1.5rem;
    height:50%;
    overflow: auto;
  }

  #open-sidemenu a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 16px;
  }

  #open-sidemenu a.active {
    background-color: var(--primaryColor);
    color: white;
  }

  #open-sidemenu a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

 .content-doc #main,
  .content-doc header {
    margin-left:-14rem;
  } 

 .content-doc {
    margin-left: -14rem;
  }
}

/* //resoponsive sidebar ends */
.docnav-rightEl a{
  text-decoration: none;
}
.docnav-rightEl a,.fa.fa-github.github-icon{
  color: var(--mainWhite);
}

.docheader {
  position: sticky;
  top: 0;
}

.get-start {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6rem 0;
}

.margin-sm {
  margin: 3rem 0;
}
.main-heading,.subTitle-getStart {
  text-align: center;
  padding: 0 2rem;
}

.get-start:nth-child(1) {
  display: flex;
  color: var(--primaryColor);
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center center;
  letter-spacing: 2px;
}

.subTitle-getStart {
  line-height: 1.8rem;
  width:70%;
}
.btn-getStart {
  border: none;
  padding: 8px;
  background-color: transparent;
}
.btn-getStart a{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primaryColor);
  border: 1px solid var(--mainBlack);
  padding: 1rem;
  border-radius: 5px;
  background: var(--main-bg);
}
.padding-lg{
  padding: 1rem;
}
/* // makeing iframe Responsive */

.iframe-wrapper{
  width: 80%;
  margin: 1.5rem 0.3rem;
}
.iframe-md{
  height:20vh;
}
.iframe-sm {
  overflow-y: hidden; 
  height:10vh
}
.iframe-img{
  height:5vh;
}

.iframe-lg {
  height: 60vh;
}

.grid-triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#clip-btn{
  background:var(--primaryColor);
  padding: 0.6rem 2rem;
  font-size: 1rem;
}
#clip-input[type=text] {
  padding: 12px 20px;
  max-width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--mainGrey);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
}

/* //responsive-doc */

.doc-sidebar {
  width: 14rem;
  background-color:var(--mainWhite);
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
}

.doc-sidebar h4{
  padding:1.5rem 1rem;
}

.doc-sidebar a {
  display: block;
  color: var(--mainBlack);
  padding: 16px;
  text-decoration: none;
}

.doc-sidebar a.active {
  background-color: var(--main-bg);
  color: var(--mainWhite);
}

.doc-sidebar a:hover:not(.active) {
  background-color:var(--mainGrey);
  color: var(--mainWhite);
}

.content-doc #main,
.content-doc header {
  margin-left: 14rem;
} 

.content-doc #main{
  line-height: 2rem;
}

