.form-flex {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.validatin-form-size {
    border: 1px solid var(--primaryColor);
    padding: 1rem;
    border-radius: 1rem;
}

#gmail{
    margin-left:3rem;
}
.form-size {
    padding: 1rem;
}
.input-txt[type="text"]{
    padding: 0.7rem;
    font-size: medium;
}
/* //responsive Input */
.login-box {
    width: 20rem;
    padding: 3rem;
    background: var(--main-bg);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 1rem;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    font-size: 1.3rem;
    color: var(--main-Black);
    margin-bottom: 2.5rem;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    transition: 0.5s;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0;
    font-size: 1.3rem;
    color: var(--main-white);
    pointer-events: none;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -2rem;
    left: 0;
    font-size: 18px;
}

.login-submit {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(13, 13, 14);
    background: var(--primaryColor);
    border: 1px solid rgb(42, 43, 44);
    padding: 8px;
}