<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avatar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="avatar-container">
        <img src="https://picsum.photos/50" alt="random-image" class="avatar">
        <img src="https://picsum.photos/55" alt="random-image" class="square-avatar">
        <span class="avatar letter-avatars">23</span>
        <i class="material-icons avatar  letter-avatars">cloud</i>
        <img src="https://picsum.photos/70" alt="random-image" class="avatar avatar-sm">
        <img src="https://picsum.photos/75" alt="random-image" class="avatar avatar-md">
        <img src="https://picsum.photos/80" alt="random-image" class="avatar avatar-lg">
        <div class="avatar-group">
            <img src="https://picsum.photos/71" alt="random-image" class="avatar-stack avatar avatar-1">
            <img src="https://picsum.photos/72" alt="random-image" class="avatar-stack avatar-2 avatar ">
            <img src="https://picsum.photos/63" alt="random-image" class="avatar-stack avatar-3 avatar">
        </div>
    </div>
</body>
</html>