<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h4>Card with Badge</h4>
        <div class="card padding-sm">
            <div class="img-responsive content  card-grid">
                <img src="https://picsum.photos/400" alt="images" />
            </div>
            <div class="card-shortnote  card-grid padding-sm">
                <h2 class="title-gap">Random images</h2>
                <p class="sub-title title-gap">see random images</p>
            </div>
            <div class="tag card-grid">
                <span class="padding-sm span">New</span>
            </div>
            <div class="card-des" id="card-description">
                Visit places on our planet that are undergoing the biggest changes today.
            </div>
        </div>
        <h4>Card with Dismiss</h4>
        <div class="card padding-sm">
            <div class="img-responsive content  card-grid">
                <img src="https://picsum.photos/340" alt="" />
            </div>
            <div class="card-shortnote  card-grid padding-sm">
                <h2 class="title-gap">Random images</h2>
                <p class="sub-title title-gap">see random images</p>
            </div>
            <div class="tag card-grid">
                <span class="padding-sm span">New</span>
                <span class="padding-sm span">X</span>
            </div>
            <div class="card-des" id="card-description">
                Visit places on our planet that are undergoing the biggest changes today.
            </div>
        </div>
        <h4>Card with TextOverlay</h4>
        <div class="card padding-sm">
            <div class="img-responsive content  card-grid">
                <img src="https://picsum.photos/320" alt="" />
            </div>
            <div class="card-shortnote  card-grid padding-sm">
                <h2 class="title-gap">Random images</h2>
                <p class="sub-title title-gap">see random images</p>
            </div>
        </div>
        <h4>Text Only Cards</h4>
        <div class="card padding-sm">
            <div class="card-shortnote  card-grid padding-sm">
                <h2 class="title-gap padding-sm">Random images<span class="close-left span padding-sm">x</span></h2>
                <p class="sub-title title-gap">see random images</p>
            </div>
            <div class="card-des" id="card-description">
                Visit places on our planet that are undergoing the biggest changes today.
            </div>
        </div>
        <h4>horizontal cards</h4>
        <div class="card padding-sm">
            <div class="card-horizontalgrid">
                <img src="https://picsum.photos/150" alt="random-img" />
            </div>
            <div class="card-horizontalgrid padding-sm">
                <h2>Random images</h2>
                <p>see random images</p>
            </div>
        </div>
        <h4>Card with shadow</h4>
        <div class="card padding-sm card-shadow">
            <div class="img-responsive content  card-grid">
                <img src="https://picsum.photos/300" alt="" />
            </div>
            <div class="card-shortnote  card-grid padding-sm">
                <h2 class="title-gap">Random images</h2>
                <p class="sub-title title-gap">see random images</p>
            </div>
            <div class="tag card-grid">
                <span class="padding-sm span">New</span>
                <span class="padding-sm span">X</span>
            </div>
            <div class="card-des" id="card-description">
                Visit places on our planet that are undergoing the biggest changes today.
            </div>
        </div>
    </div>
</body>
</html>