body {
    font-family: sans-serif;
}

.container-grids {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
}

.cards-size{
    width: 20rem;
    border: 2px solid black;
    height: fit-content;
    background-color: rgba(246, 176, 96, 0.938);
    color: rgb(245, 204, 204);
    display: grid;
    border-radius: 5px;
}

.img-responsive img {
    width: 100%;
    height: auto;
}

.title-gap {
    margin-top: 0;
    line-height: 0;
}

.card-grid {
    grid-column: 1/2;
    grid-row: 1/2;
}

.padding-sm {
    padding: 4px;
}

.card-shortnote {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.span {
    height: fit-content;
    background-color: rgb(89, 142, 189);
    color: #fff;
    border-radius: 8px 0;
    margin-left: -2px;
}

.close-left {
    margin-left: 6rem;
}

.card-des {
    box-sizing: border-box;
    height: fit-content;
    font-size: smaller;
    text-align: justify;
}

.card-shadow {
    box-shadow: 5px 10px #888888;
}

.card-horizontalgrid {
    grid-area: -1;
}