.toast {
    width:25rem;
    display: inline;
    font-size: 1rem;
    padding: 1rem;
    background-color:var(--main-bg);
    color: var(--mainWhite);
}
.toast-right {
    margin-left: 4rem;
    cursor: pointer;
}