<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav bar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<body>
    <header class="header header-flex">
        <h2>Navabar Title</h2>
        <div class="header-nav nav-gap">
            <nav>
                <ul class="ul-style nav-gap header-flex">
                    <li><a class="link-navigation"href="#">Home</a></li>
                    <li><a class="link-navigation"href="#">About</a></li>
                    <li><a class="link-navigation"href="#">More</a></li>
                </ul>
            </nav>
            <a href="#" class="header-flex nav-gap"><span class="user-name">user</span><div class="user-icon"></div></a>
        </div>
    </header>
</body>
</html>