<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rating</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Star rating</h2>
    <div class="rating">
        <ul>
            <li class="rated rate-size">&#9734;</li>
            <li class="rated rate-size">&#9734;</li>
            <li class="rated rate-size">&#9734;</li>
        </ul>
    </div>
    <h2>emoji rating</h2>
    <div class="rating border-rate">
        <span class="rate-size emoji">🥴</span><label for="">bad</label>
        <span class="rate-size emoji">🥺</span><label for="">nice</label>
        <span class="rate-size emoji">😃</span><label for="">good</label>
    </div>
</body>
</html>