<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="badge-1 badge-container">
      <div  class="badge-relative">
        <span>Text with a badge</span>
        <span class="badge-absolute badge-sm badge-bold badge-blue badge-round">4</span>
      </div>
      <div  class="badge-relative">
        <span>Text with Large badge</span>
        <span class="badge-absolute badge-md badge-lg badge-blue  badge-round">1</span>
      </div>
      <div  class="badge-relative">
        <button>Action</button>
        <span class="badge-absolute badge-btn badge-bold badge-round badge-blue">23</span>
      </div>
      <div  class="badge-relative">
        <button>Hide</button>
        <span class="badge-absolute badge-btn-right badge-bold badge-round badge-blue">5</span>
      </div>
      <div  class="badge-relative">
        <i class="material-icons fas fa-home">home</i>
        <span class="badge-absolute badge-icon  badge-round  badge-bold badge-blue">15</span>
      </div>
      <div  class="badge-relative">
        <img class="badge-round"src="https://picsum.photos/70" alt="random-image">
        <div class="badge-absolute badge-avatar badge-round box badge-round"></div>
      </div>
    </div>
       
</body>
</html>