.badge-container{
    padding:1rem;
    display:inline-flex;
    flex-direction:column;
    gap:2rem;
  }

  .badge-relative{
    position:relative;
  }

  .badge-absolute{
    position:absolute;
  }

  .badge-sm{
    top:-0.7rem;
  }

  .badge-md{
    top:-1.2rem;
  }

  .badge-btn{
    top:-1rem;
    left:5rem;
  }

  .badge-btn-right{
    top: -1.2rem;
    left: -0.15rem;
  }

  .badge-icon{
    top: -1.5rem;
    left: 2rem;
  }

  .badge-avatar{
    bottom: 0.6rem;
    left: 3.5rem;
  }

  .badge-bold{
    font-weight:700;
  }
  
  .badge-round{
    border-radius:50%;
    padding:0.1rem 0.5rem;
  }

  .badge-blue{
    background-color:var(--primaryColor);
    color:var(--mainWhite);
  }

  .badge-lg{
    font-size:1.5rem;
    font-weight:900;
    padding:0.1rem 0.5rem;
  }

  .box{
    width:1.2rem;
    height:1.2rem;
    border: 2px solid rgb(12, 12, 12);
    background-color: var(--primaryColor);
  }