<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar with hamburger</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="hero">
            <img src="https://picsum.photos/70" alt="random-img"class="img-icon"> 
            <h2>Title</h2>
            </div>
            <button class="hamburger" id="hamburger">
                <span class="material-icons-outlined">menu</span>
            </button>
            <div class="nav-ul"id="nav-ul">
                <ul>
                    <li><a href="#home">home</a></li>
                    <li><a href="#news">news</a></li>
                    <li><a href="#about">about</a></li>
                    <li><div class="dropdown">
                        <button class="dropbtn">Dropdown 
                            </button>
                            <div class="dropdown-content">
                              <a href="#">Link 1</a>
                              <a href="#">Link 2</a>
                              <a href="#">Link 3</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div> 
        </nav>
    </header>
   <script src="./script.js"></script>
</body>
</html>