<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar with hamburger</title>
    <link rel="stylesheet" href="../../../component.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
</head>
<body>
    <aside id="doc-sidemenu" class="doc-sidebar ">
        <div>
          <h4 class="padding-sm">Get Started</h4>
          <ul>
            <li><a href="">Introduction</a></li>
          </ul>
          <h4 class="padding-sm">Components</h4>
          <ul>
            <li><a   href="">Avatar</a></li>
            <li><a href="">Alerts</a></li>
            <li><a href="">Badge</a></li>
            <li><a href="">Button</a></li>
            <li><a href="">Card</a></li>
            <li><a href="">Image</a></li>
            <li><a href="">Input</a></li>
            <li><a href="">Text Utilites</a></li>
            <li><a class="active" href="">Lists</a></li>
            <li><a href="">Navigation</a></li>
            <li><a href="">Modal</a></li>
            <li><a href="">Rating</a></li>
            <li><a href="">Toast/Notify</a></li>
            <li><a href="">Simplified Grid</a></li>
            <li><a href="">Slider</a></li>
          </ul>
        </div>
      </aside>
      <aside id="open-sidemenu">
        <div>
          <h2 id="close-btn">X</h2>
          <h4 class="padding-sm">Get Started</h4>
          <ul>
            <li><a href="">Introduction</a></li>
          </ul>
          <h4 class="padding-sm">Components</h4>
          <ul>
            <li><a class="active"href="">Avatar</a></li>
            <li><a  href="">Alerts</a></li>
            <li><a href="">Badge</a></li>
            <li><a href="">Button</a></li>
            <li><a href="">Card</a></li>
            <li><a href="">Image</a></li>
            <li><a href="">Input</a></li>
            <li><a href="">Text Utilites</a></li>
            <li><a class="active"  href="">Lists</a></li>
            <li><a href="">Navigation</a></li>
            <li><a href="">Modal</a></li>
            <li><a href="">Rating</a></li>
            <li><a href="">Toast/Notify</a></li>
            <li><a href="">Simplified Grid</a></li>
            <li><a href="">Slider</a></li>
          </ul>
        </div>
      </aside>
      <div class="content-doc" id="doc-main">
        <header class="docheader">
          <nav class="docnav-bar">
            <div class="docnav-leftEl">
              <a href="">
                <img class="logo" src="https://static.thenounproject.com/png/427493-200.png" alt="logo">
              </a>
              <h4 class="nav-title">StudyUI</h4>
            </div>
            <div class="docnav-rightEl">
              <a class="padding-xs" href="">Home</a>
              <a class="padding-xs" href="https://github.com/BISINIGISHIVANI/component-library/tree/development/components">
                <i class="fa fa-github github-icon"></i>
              </a>
              <a class="padding-xs" id="menu-bar">
                <i class="fa fa-bars github-icon"></i>
              </a>
            </div>
          </nav>
        </header>
        <div id="main">
          <section class="doc-section padding-lg"></section>
    <header>
        
    </header>
   <script src="./script.js"></script>
</body>
</html>