<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Modal</h2>
    <div class="modal">
        <h2 class="model-border">modal header</h2>
        <div class="modal-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A modi odit, vel quasi et enim est minima iste corrupti eius recusandae debitis ut laboriosam, rem eum molestias numquam itaque amet!</div>
        <footer class="model-footer">
           <h2>modal footer</h2>
           <button>yes</button>
           <button>No</button> 
        </footer>
    </div>
</body>
</html>