.modal {
    width: 25rem;
    border: 2px solid black;
}

.modal h5{
    font-size: 1.3rem;
}
.model-border {
    margin: 0;
    padding: 0.4rem 1rem;
    border-bottom: 1px solid black;
}

.modal-body {
    padding: 1rem;
}


.model-footer{
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
}
.model-footer button{
    background:  rgb(245, 204, 204);
    padding: 0.2rem 1rem;
    margin-left: 0.5rem;
   
    cursor: pointer;
}