  .alert {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
    box-sizing: border-box;
  }
  .alert-sucess{
    color:rgb(60, 151, 106);
  }
  .alert-inform{
    color:  rgb(88, 167, 231);
  }
  .alert-flex {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }
  .alert-wrap{
    flex-wrap: wrap;
    color:crimson;
    
  }
  .btn-close {
    margin-left: auto;
    cursor: pointer;
  }
  .text-left{
    text-align: end;
  }
  .margin-sm{
    margin: 0.5rem;
  }
  
  .alert.alert-accent-border {
    border-left: 0.3rem solid black;
    padding-left:1rem;
  }
  
  .material-icons-outlined.icn-right{
    margin:1rem;
  }
  .container {
    margin-left: 3rem;
    padding: 0.2rem;
  }
  @media screen and (max-width:450px){
    .alert-container{
      width: 75%;
    }
    
  }