<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<body>
  <div class="alert-container">
    <div class="alert alert-flex alert-sucess">
      <span class="material-icons-outlined icn-right">check_circle_outline</span>
      Successfully updated
      <span class="material-icons-outlined btn-close">close</span>
    </div>
    <div class="alert">
      <span class="material-icons-outlined icn-right">cancel</span>
      You have No credits left.Upgrade your account.
      <div class="container">
        <p>Play the game Earn Points.</p>
        <button>Get started</button>
        <button>knowMore</button>
      </div>
    </div>
    <div class="alert alert-flex alert-inform">
      <span class="material-icons-outlined icn-right">info</span>
      for information click here.
      <span class="material-icons-outlined btn-close">close</span>
    </div>
    <div class="alert alert-accent-border alert-flex">
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vitae aut laboriosam vel est maxime labore, rerum
        adipisci quos a expedita aperiam autem beatae. Earum odit maiores molestias quasi fugit?
      </span>
    </div>
    <div>
      <div class="alert alert-flex">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi voluptatum repellat. Possimus
          accusantium cumque modi rem eaque hic fugit dolores veniam saepe, numquam soluta. Blanditiis dolores expedita
          tempora vel.
        </span>
        <span class="material-icons-outlined  btn-close">arrow_forward</span>
      </div>
    </div>
    <div class="alert alert-flex">
      <span class="material-icons-outlined icn-right">report_problem</span>
      <span>Lorem ipsum a dummy text</span>
      <span class="material-icons-outlined btn-close">close</span>
      <div class="container">
        <ul>
          <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus mollitia quisquam minus! Odio aliquid
            incidunt saepe esse quis consectetur optio! Doloribus, nesciunt numquam. Rerum provident quam magnam soluta
            odit repellendus!</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sequi unde architecto est in nisi
            officiis repellat, qui corrupti eaque illum sint sapiente iusto aliquid explicabo voluptate, deserunt
            necessitatibus a?</li>
        </ul>
      </div>
    </div>
  </div>  
</body>
</html>